PORT=8000

MONGO_URL=mongodb+srv://localhost:27017/your-database-name

#SETUP ACCESS TOKEN
JWT_ACCESS_TOKEN_SECRET=your-access-token-secret
JWT_ACCESS_EXPIRE=1000m

JWT_REFRESH_TOKEN_SECRET=your-refresh-token-secret
JWT_REFRESH_EXPIRE=1d

#INIT SAMPLE DATA
SHOULD_INIT=false
INIT_PASSWORD=your-password

#config mail
EMAIL_HOST=smtp.gmail.com
EMAIL_AUTH_USER=your-email@gmail.com
EMAIL_AUTH_PASSWORD=your-gmail-app-password
EMAIL_PREVIEW=false
